/*
	Theme Name: Academy Pro (CUSTOM STYLING)
	Theme URI: https://my.studiopress.com/themes/academy/
	Description: The theme for online course creators, membership site owners, and educational content marketers.
	Author: StudioPress (CSS Styles by Passion4Social)
	Author URI: https://www.passion4social.com/

	Version: 1.0.1

	Tags: one-column, two-columns, left-sidebar, right-sidebar, e-commerce, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, featured-images, full-width-template, sticky-post, theme-options, threaded-comments, translation-ready

	Template: genesis
	Template Version: 2.3.1

	License: GPL-2.0+
	License URI: http://www.gnu.org/licenses/gpl-2.0.html

	Text Domain: academy-pro
*/

body {
  background-color: blueviolet;
}

.hero-section-column {
  color: wheat;
}
